# Compiled Object files
*.slo
*.lo
*.o
*.obj

build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
wjsontest

# IDE / editor specific files
*.swp
*.swo
*.user
*.suo
*.sublime-project
*.sublime-workspace
.vscode/

# Other common temporary files
*.log
*.tmp
*.bak
*.swp
*~.nib
